<AuthorizeView>
    <Authorized>
        <li class="nav-item">
            <a class="nav-link text-dark" href="Identity/Account/Manage">Olá, @context.User.Identity.Name!</a>
        </li>
        <li class="nav-item">
            <form method="post" action="Identity/Account/LogOut">
                <button class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    </Authorized>
    <NotAuthorized>
        <li class="nav-item">
            <a class="nav-link text-dark" href="Identity/Account/Register">Registro</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="Identity/Account/Login">Log in</a>
        </li>

    </NotAuthorized>
</AuthorizeView>